.missoes {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 30px;
  box-shadow: 0.01px 4px 14px rgba(0, 0, 0, 0.9);
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 900px;
}
